:root {
  --main-title-color: #fff;
  --secondary-title-color: #303030;
  --accent-color: #ff6c00;
  --secondary-font: 'Raleway', sans-serif;
  --basic-margin: 20px;
}
/* === РЕСЕТ стилів браузера ===*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
/* ============================== */
body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto; /* центрує по горизонтала наш елемент, при умові заданій ширині */
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 1px solid red; */
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
  min-width: 160px;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  padding: 12px 20px;
  transition: color 350ms linear, background-color 350ms linear;
}
.btn:is(:hover, :focus) {
  color: #fff;
  background-color: var(--accent-color);
}
.title {
  font-family: 'Raleway', sans-serif;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}
.subtitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.subtitle::before {
  content: '';
  width: 60px;
  height: 1px;
  background-color: currentColor;
  display: block;
  margin-right: 20px;
}
/* --Сховати заголовок-- */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ========== HEADER ============ */

.header {
  padding: 32px 0;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-navigation {
  display: flex;
  align-items: center;
}
.header-logo {
  margin-right: 131px;
}
.header-list {
  display: flex;
  gap: 30px;
}
.header-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
  position: relative;
  transition: color 350ms;
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
/* === Підкреслення активної сторінки==== */
/* .header-link.active {
  color: var(--accent-color);
}
.header-link.active::after {
  content: '';
  width: 100%;
  height: 3px;
  background-color: var(--accent-color);
  position: absolute;
  left: 0;
  bottom: -10px;
} */
.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: auto;
  margin-right: 43px;
  transition: color 350ms;
}
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}
.header-btn {
  margin-right: 17px;
}

/* =========== HERO ============ */
/* .hero {
} */
.hero-container {
  display: flex;
}
.hero-list {
  width: 100px;
  display: flex;
  align-items: center;
  gap: 40px;
  transform: rotate(-90deg) translateY(100%);
  transform-origin: bottom left;
  padding-top: 22px;
  position: relative;
  padding-left: 40px;
}
.hero-list::before {
  content: '';
  width: 60px;
  height: 1px;
  background-color: #303030;
  flex-shrink: 0;
}
.hero-list-wrap {
  display: flex;
  align-items: flex-end;
}
.hero-content {
  background-color: gray;
  padding: 272px 100px 208px;
  flex-grow: 1;
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url(../images/hero-slider-img-3.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
/* .hero-item {
} */
.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
  transition: color 350ms linear;
}
.hero-link:hover,
.hero-link:focus {
  color: var(--accent-color);
}
.hero-subtitle {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: var(--basic-margin);
}
.hero-title {
  font-family: 'Raleway', sans-serif;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--main-title-color);
}
.hero-description {
  width: 360px;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

/* ========= ABOUT ========== */

.about {
  padding: 120px 0;
}
.about-container {
  display: flex;
}
.about-list {
  display: flex;
  gap: 30px;
  margin-right: 30px;
  width: 50%;
}
.about-content {
  width: 50%;
  max-width: 470px;
}
.about-item {
  width: ((100%-30px)/2);
}
.about-subtitle {
  margin-bottom: var(--basic-margin);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--secondary-title-color);
}
.about-title {
  margin-bottom: var(--basic-margin);
  color: var(--secondary-title-color);
}
.about-description {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 42px;
}
.about-description span {
  display: block;
  font-size: 18px;
  line-height: 1.67;
  margin-bottom: var(--basic-margin);
}
.about-btn {
  color: #303030;
}

/* ========== SERVICES ========= */

.services {
  background-image: url(../images/services-bg-png.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #111319;
  padding: 120px 0;
}
.services-subtitle {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: var(--accent-color);
}
.services-title {
  color: var(--main-title-color);
  margin-bottom: 44px;
}
.services-content {
  display: flex;
  gap: 30px;
  margin-bottom: 44px;
}
.services-list {
  /* border: 1px solid green; */
  padding: 30px 20px;
  flex-grow: 1;
  width: calc((100%-30px) / 2);
  background-image: linear-gradient(
    180deg,
    #171a24 0%,
    rgba(23, 26, 36, 0.2) 100%
  );
}
.services-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 12px;
}
.services-item::before {
  content: '';
  height: 1px;
  flex-grow: 1;
  background-color: rgba(157, 164, 189, 0.12);
  display: inline-block;
}
.services-item:not(:last-child) {
  margin-bottom: var(--basic-margin);
}
.services-item-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
.services-item-text:first-child {
  order: -1;
}
.services-btn {
  color: #ffffff;
  display: block;
  margin: 0 auto;
}

/* ========== BENEFITS =========== */

.benefits {
  padding: 120px 0;
}
.benefits-list {
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  padding-left: 70px;
  padding-right: 70px;
}
.benefits-container {
  display: flex;
}
.benefits-item {
  width: 170px;
  height: 132px;
  padding: 20px 24px;
  background-color: #f7f7f7;
}
.benefits-item:nth-child(even) {
  margin-top: 30px;
}
.benefits-item > span {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: #303030;
  position: relative;
}
.benefits-item > span::after {
  content: '+';
  font-size: 16px;
  font-size: 600;
  line-height: calc(22 / 16);
  color: var(--accent-color);
  position: absolute;
  right: -10px;
  top: 7px;
}
.benefits-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: #303030;
  margin-bottom: 30px;
}
.benefits-content {
  width: 55%;
  max-width: 500px;
}
.benefits-subtitle {
  color: var(--secondary-title-color);
  margin-bottom: var(--basic-margin);
}
.benefits-title {
  color: var(--secondary-title-color);
  margin-bottom: var(--basic-margin);
}
.benefits-description {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
}

/* =========== BARBERS ========== */

.barbers {
  background-color: #f7f7f7;
}
.barbers-subtitle {
  color: var(--secondary-title-color);
  margin-bottom: var(--basic-margin);
}
.barbers-title {
  color: var(--secondary-title-color);
  margin-bottom: 44px;
}
.barbers-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 50px;
  column-gap: 30px;
}
.barbers-item {
  width: cal((100%-30px * 2)/3);
}
.barbers-content {
  padding: 30px;
}
.barbers-item-title {
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondary-title-color);
  margin-bottom: 8px;
}
.barbers-item-text {
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-bottom: 30px;
}
.barbers-social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.barbers-social-item {
  width: 44px;
  height: 44px;
}
.barbers-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #303030;
  transition: color 350ms linear;
}
.barbers-social-icon {
  fill: currentColor;
}
.barbers-social-link:is(:hover, :focus) {
  color: var(--accent-color);
}

/* ========= Gallery ========== */

.gallery {
  padding: 120px 0;
}
.gallery-subtitle {
  color: var(--secondary-title-color);
  margin-bottom: 44px;
}
/* .visually-hidden {
} */
.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.gallery-item {
  width: calc((100% - 30px * 3) / 4);
}

/* =========== Contact =========== */

.contact {
  background-color: #191c26;
  background-image: url(../images/contacts-bg-png.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 50% 100%;
  padding: 130px 0 120px;
}
.contact-container {
  display: flex;
}
.contact-form {
  width: 50%;
}
.contact-wrap {
  width: 50%;
  padding-left: 100px;
}
.contact-title {
  color: var(--main-title-color);
  margin-bottom: 40px;
}
.contact-address {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
  margin-bottom: 70px;
}
/* .contact-list {
} */
.contact-item {
  margin-bottom: var(--basic-margin);
}
.contact-link {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
.contact-subtitle {
  color: var(--main-title-color);
  margin-bottom: var(--basic-margin);
}
.contact-hours {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

/* ======== FOOTER =========== */
.footer {
  padding: 56px 0 56px;
  background-color: #f7f7f7;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: centre;
}
.social-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.social-link {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;
  color: #303030;
  transition: color 350ms;
}
/* -- варіант для кожного посиляння-- */
/* .social-link {
  display: flex;
  align-items: center;
  gap: 10px;
}
.social-link::before {
  content: '';
  width: 60px;
  height: 1px;
  background-color: #303030;
}
.social-link:hover::before {
  background-color: var(--accent-color);
} */
/* -------/варіант----------- */
.social-link:is(:hover, :focus) {
  color: var(--accent-color);
}
.social-list::before {
  content: '';
  width: 60px;
  height: 1px;
  background-color: #303030;
}
.form-input {
  width: 100%;
  height: 24px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  color: #ffffff;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border-radius: 0;
  padding-bottom: 8px;
  transition: border 350ms, color 350ms;
}
.form-input::placeholder {
  color: rgba(157, 164, 189, 0.4);
}
.form-input:focus {
  outline: none;
  border-bottom-color: #ffffff;
}
.form-input:focus::placeholder {
  color: #ffffff;
}
.contact-form {
  padding-right: 30px;
}
.contact-form-textarea {
  min-height: 76px;
  resize: none;
}
.contact-form-inner {
  display: flex;
  flex-wrap: wrap;
}
.form-group {
  width: 100%;
  margin-bottom: 44px;
}
.form-group:nth-child(1),
.form-group:nth-child(2) {
  width: 50%;
}
.form-group:nth-child(1) {
  padding-right: 15px;
}
.form-group:nth-child(2) {
  padding-left: 15px;
}
.contact-form-input:not(:focus):not(:placeholder-shown):valid {
  background-color: green;
}
.contact-form-input:not(:focus):not(:placeholder-shown):invalid {
  background-color: red;
}
